@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply mb-8 text-4xl font-bold text-darkGrayishBlue md:text-5xl;
  }
  h5 {
    @apply mb-2 text-2xl font-bold text-darkGrayishBlue;
  }
}

.section-container {
  @apply max-w-6xl mx-auto text-center px-10;
}

.button-container {
  @apply p-4 px-8 rounded-full shadow-sm duration-200 hover:opacity-80 hover:shadow-xl hover:-translate-y-0.5;
}

.p-details {
  @apply max-w-3xl mx-auto mb-24 text-2xl leading-9 text-center text-grayishBlue;
}

body {
  background: #f8f5f3;
}

footer {
  background: #f8e7d7;
}

.ficon:hover {
  filter: invert(94%) sepia(68%) saturate(54%) hue-rotate(120deg)
    brightness(50%) contrast(34%);
}
